--
-- PostgreSQL database dump
--

\restrict nzPGAtsRCSN0wCrQ7BpZPTs5YdnSeDPaEeb244x93DSsmgpjNHfhvzncSDkts47

-- Dumped from database version 13.23 (Debian 13.23-1.pgdg13+1)
-- Dumped by pg_dump version 13.23 (Debian 13.23-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_modified_column(); Type: FUNCTION; Schema: public; Owner: myuser
--

CREATE FUNCTION public.update_modified_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.modified := NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_modified_column() OWNER TO myuser;

--
-- Name: vj_execute_dynamic_query(text); Type: FUNCTION; Schema: public; Owner: myuser
--

CREATE FUNCTION public.vj_execute_dynamic_query(query text) RETURNS TABLE(result json)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY EXECUTE format('SELECT json_agg(t) FROM (%s) t', query);
END;
$$;


ALTER FUNCTION public.vj_execute_dynamic_query(query text) OWNER TO myuser;

--
-- Name: vj_execute_multiple_queries(text[]); Type: FUNCTION; Schema: public; Owner: myuser
--

CREATE FUNCTION public.vj_execute_multiple_queries(queries text[]) RETURNS void
    LANGUAGE plpgsql
    AS $$
DECLARE
    query text;
BEGIN
    FOREACH query IN ARRAY queries
    LOOP
        EXECUTE query;
    END LOOP;
END;
$$;


ALTER FUNCTION public.vj_execute_multiple_queries(queries text[]) OWNER TO myuser;

--
-- Name: at_booking_users_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.at_booking_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.at_booking_users_id_seq OWNER TO myuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: at_booking_people; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.at_booking_people (
    id integer DEFAULT nextval('public.at_booking_users_id_seq'::regclass) NOT NULL,
    owner_id integer DEFAULT 0 NOT NULL,
    booking_id integer DEFAULT 0 NOT NULL,
    person_id integer DEFAULT 0 NOT NULL,
    notes text,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.at_booking_people OWNER TO myuser;

--
-- Name: at_booking_vouchers; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.at_booking_vouchers (
    id integer NOT NULL,
    code character varying(50) NOT NULL,
    discount_percent numeric(5,2),
    fixed_cost numeric(10,2),
    expiry_date date,
    is_active boolean DEFAULT true NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT at_booking_vouchers_discount_ck CHECK (((discount_percent IS NULL) OR ((discount_percent >= (0)::numeric) AND (discount_percent <= (100)::numeric)))),
    CONSTRAINT at_booking_vouchers_fixed_cost_ck CHECK (((fixed_cost IS NULL) OR (fixed_cost >= (0)::numeric))),
    CONSTRAINT at_booking_vouchers_mode_ck CHECK (((discount_percent IS NULL) <> (fixed_cost IS NULL)))
);


ALTER TABLE public.at_booking_vouchers OWNER TO myuser;

--
-- Name: at_booking_vouchers_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

ALTER TABLE public.at_booking_vouchers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.at_booking_vouchers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: at_bookings_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.at_bookings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.at_bookings_id_seq OWNER TO myuser;

--
-- Name: at_bookings; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.at_bookings (
    id integer DEFAULT nextval('public.at_bookings_id_seq'::regclass) NOT NULL,
    owner_id integer DEFAULT 0 NOT NULL,
    notes text,
    from_date timestamp without time zone,
    to_date timestamp without time zone,
    booking_status_id integer DEFAULT 0 NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    trip_id integer DEFAULT 0 NOT NULL,
    booking_date date,
    group_booking_id integer,
    booking_price numeric(8,2),
    payment_date date,
    amount_paid bigint,
    currency character(3),
    stripe_session_id character varying(100)
);


ALTER TABLE public.at_bookings OWNER TO myuser;

--
-- Name: at_group_bookings_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.at_group_bookings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.at_group_bookings_id_seq OWNER TO myuser;

--
-- Name: at_group_bookings; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.at_group_bookings (
    id integer DEFAULT nextval('public.at_group_bookings_id_seq'::regclass) NOT NULL,
    group_name character varying(255) NOT NULL,
    owner_id integer DEFAULT 0 NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.at_group_bookings OWNER TO myuser;

--
-- Name: at_trip_cost_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.at_trip_cost_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.at_trip_cost_groups_id_seq OWNER TO myuser;

--
-- Name: at_trip_cost_groups; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.at_trip_cost_groups (
    id integer DEFAULT nextval('public.at_trip_cost_groups_id_seq'::regclass) NOT NULL,
    description character varying(50) NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.at_trip_cost_groups OWNER TO myuser;

--
-- Name: at_trip_costs_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.at_trip_costs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.at_trip_costs_id_seq OWNER TO myuser;

--
-- Name: at_trip_costs; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.at_trip_costs (
    id integer DEFAULT nextval('public.at_trip_costs_id_seq'::regclass) NOT NULL,
    trip_cost_group_id integer NOT NULL,
    description character varying(50),
    member_status_id integer NOT NULL,
    user_age_group_id integer NOT NULL,
    season_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.at_trip_costs OWNER TO myuser;

--
-- Name: at_trips_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.at_trips_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.at_trips_id_seq OWNER TO myuser;

--
-- Name: at_trips; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.at_trips (
    id integer DEFAULT nextval('public.at_trips_id_seq'::regclass) NOT NULL,
    owner_id integer DEFAULT 0 NOT NULL,
    trip_name text NOT NULL,
    location text,
    from_date date,
    to_date date,
    max_participants integer DEFAULT 0 NOT NULL,
    created timestamp without time zone DEFAULT now(),
    modified timestamp without time zone DEFAULT now(),
    trip_status_id integer DEFAULT 0 NOT NULL,
    trip_type_id integer DEFAULT 0 NOT NULL,
    difficulty_level_id integer,
    trip_cost_group_id integer,
    description text
);


ALTER TABLE public.at_trips OWNER TO myuser;

--
-- Name: at_user_payments_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.at_user_payments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.at_user_payments_id_seq OWNER TO myuser;

--
-- Name: at_user_payments; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.at_user_payments (
    id integer DEFAULT nextval('public.at_user_payments_id_seq'::regclass) NOT NULL,
    user_id integer NOT NULL,
    booking_id integer NOT NULL,
    payment_date date NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_method character varying(255),
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.at_user_payments OWNER TO myuser;

--
-- Name: et_access_level_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_access_level_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_access_level_id_seq OWNER TO myuser;

--
-- Name: et_access_level; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_access_level (
    id integer DEFAULT nextval('public.et_access_level_id_seq'::regclass) NOT NULL,
    name character varying(45),
    description character varying(45),
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.et_access_level OWNER TO myuser;

--
-- Name: et_access_scope_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_access_scope_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_access_scope_id_seq OWNER TO myuser;

--
-- Name: et_access_scope; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_access_scope (
    id integer DEFAULT nextval('public.et_access_scope_id_seq'::regclass) NOT NULL,
    name character varying(45),
    description character varying(45),
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.et_access_scope OWNER TO myuser;

--
-- Name: et_booking_status_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_booking_status_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_booking_status_id_seq OWNER TO myuser;

--
-- Name: et_booking_status; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_booking_status (
    id integer DEFAULT nextval('public.et_booking_status_id_seq'::regclass) NOT NULL,
    status character varying(50) NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.et_booking_status OWNER TO myuser;

--
-- Name: et_member_status_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_member_status_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_member_status_id_seq OWNER TO myuser;

--
-- Name: et_member_status; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_member_status (
    id integer DEFAULT nextval('public.et_member_status_id_seq'::regclass) NOT NULL,
    status character varying(255) NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.et_member_status OWNER TO myuser;

--
-- Name: et_resource_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_resource_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_resource_id_seq OWNER TO myuser;

--
-- Name: et_resource; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_resource (
    id integer DEFAULT nextval('public.et_resource_id_seq'::regclass) NOT NULL,
    name character varying(45),
    description character varying(45),
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.et_resource OWNER TO myuser;

--
-- Name: et_seasons_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_seasons_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_seasons_id_seq OWNER TO myuser;

--
-- Name: et_seasons; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_seasons (
    id integer DEFAULT nextval('public.et_seasons_id_seq'::regclass) NOT NULL,
    season character varying(255) NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    start_day integer,
    length integer
);


ALTER TABLE public.et_seasons OWNER TO myuser;

--
-- Name: et_trip_difficulty_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_trip_difficulty_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_trip_difficulty_id_seq OWNER TO myuser;

--
-- Name: et_trip_difficulty; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_trip_difficulty (
    id integer DEFAULT nextval('public.et_trip_difficulty_id_seq'::regclass) NOT NULL,
    level character varying(50) NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    level_short character varying(3),
    description character varying(255)
);


ALTER TABLE public.et_trip_difficulty OWNER TO myuser;

--
-- Name: et_trip_status_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_trip_status_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_trip_status_id_seq OWNER TO myuser;

--
-- Name: et_trip_status; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_trip_status (
    id integer DEFAULT nextval('public.et_trip_status_id_seq'::regclass) NOT NULL,
    status character varying(50) NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.et_trip_status OWNER TO myuser;

--
-- Name: et_trip_types_trip_type_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_trip_types_trip_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_trip_types_trip_type_id_seq OWNER TO myuser;

--
-- Name: et_trip_type; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_trip_type (
    id integer DEFAULT nextval('public.et_trip_types_trip_type_id_seq'::regclass) NOT NULL,
    type character varying(255) NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.et_trip_type OWNER TO myuser;

--
-- Name: et_user_account_status_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_user_account_status_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_user_account_status_id_seq OWNER TO myuser;

--
-- Name: et_user_account_status; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_user_account_status (
    id integer DEFAULT nextval('public.et_user_account_status_id_seq'::regclass) NOT NULL,
    status character varying(255) NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    description character varying(255)
);


ALTER TABLE public.et_user_account_status OWNER TO myuser;

--
-- Name: et_user_age_group_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.et_user_age_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.et_user_age_group_id_seq OWNER TO myuser;

--
-- Name: et_user_age_groups; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.et_user_age_groups (
    id integer DEFAULT nextval('public.et_user_age_group_id_seq'::regclass) NOT NULL,
    age_group character varying(255) NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.et_user_age_groups OWNER TO myuser;

--
-- Name: st_group_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.st_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.st_group_id_seq OWNER TO myuser;

--
-- Name: st_group; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.st_group (
    id integer DEFAULT nextval('public.st_group_id_seq'::regclass) NOT NULL,
    name character varying(45),
    description character varying(45),
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.st_group OWNER TO myuser;

--
-- Name: st_group_resource_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.st_group_resource_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.st_group_resource_id_seq OWNER TO myuser;

--
-- Name: st_group_resource; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.st_group_resource (
    id integer DEFAULT nextval('public.st_group_resource_id_seq'::regclass) NOT NULL,
    group_id integer NOT NULL,
    resource_id integer NOT NULL,
    access_level_id integer NOT NULL,
    access_scope_id integer NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.st_group_resource OWNER TO myuser;

--
-- Name: st_token_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.st_token_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.st_token_id_seq OWNER TO myuser;

--
-- Name: st_token; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.st_token (
    id integer DEFAULT nextval('public.st_token_id_seq'::regclass) NOT NULL,
    user_id integer NOT NULL,
    name character varying(45) NOT NULL,
    host character varying(45),
    token character varying(45),
    valid_from timestamp with time zone,
    valid_to timestamp with time zone,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    token_valid boolean DEFAULT false NOT NULL,
    session_data json
);


ALTER TABLE public.st_token OWNER TO myuser;

--
-- Name: st_user_credentials; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.st_user_credentials (
    id integer NOT NULL,
    user_id integer NOT NULL,
    credential_id bytea,
    last_used timestamp without time zone,
    credential_data jsonb NOT NULL,
    device_name character varying(45),
    device_metadata jsonb,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.st_user_credentials OWNER TO myuser;

--
-- Name: st_user_group_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.st_user_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.st_user_group_id_seq OWNER TO myuser;

--
-- Name: st_user_group; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.st_user_group (
    id integer DEFAULT nextval('public.st_user_group_id_seq'::regclass) NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.st_user_group OWNER TO myuser;

--
-- Name: st_users_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.st_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 2147483647
    CACHE 1;


ALTER TABLE public.st_users_id_seq OWNER TO myuser;

--
-- Name: st_users; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.st_users (
    id integer DEFAULT nextval('public.st_users_id_seq'::regclass) NOT NULL,
    name character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    member_status_id integer DEFAULT 0 NOT NULL,
    created timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    user_birth_date date,
    user_age_group_id integer,
    user_address character varying(255),
    member_code character varying(20),
    user_password character varying(100),
    user_account_status_id integer DEFAULT 0 NOT NULL,
    user_account_hidden boolean,
    provider character varying(30),
    provider_id character varying(255)
);


ALTER TABLE public.st_users OWNER TO myuser;

--
-- Name: vt_trips; Type: VIEW; Schema: public; Owner: myuser
--

CREATE VIEW public.vt_trips AS
 SELECT at_trips.id,
    at_trips.owner_id,
    at_trips.trip_name,
    at_trips.location,
    at_trips.from_date,
    at_trips.to_date,
    at_trips.max_participants,
    at_trips.created,
    at_trips.modified,
    at_trips.trip_status_id,
    at_trips.trip_type_id,
    at_trips.difficulty_level_id
   FROM public.at_trips;


ALTER TABLE public.vt_trips OWNER TO myuser;

--
-- Data for Name: at_booking_people; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: at_booking_vouchers; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.at_booking_vouchers (id, code, discount_percent, fixed_cost, expiry_date, is_active, created, modified) FROM stdin;
2	SAVE15	15.00	\N	\N	t	2026-03-05 09:04:01.101458	2026-03-05 09:04:01.101458
3	FLAT50	\N	50.00	\N	t	2026-03-05 09:04:01.101458	2026-03-05 09:04:01.101458
1	WELCOME10	10.00	\N	2026-03-12	t	2026-03-05 09:04:01.101458	2026-03-05 09:08:22.32415
\.


--
-- Data for Name: at_bookings; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: at_group_bookings; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.at_group_bookings (id, group_name, owner_id, created, modified) FROM stdin;
1	Vince's group	0	2024-10-29 23:01:14.192148	2024-10-29 23:01:14.192148
\.


--
-- Data for Name: at_trip_cost_groups; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.at_trip_cost_groups (id, description, created, modified) FROM stdin;
1	Lodge winter rate	2024-10-26 06:56:50.644474	2024-10-26 06:56:50.644474
\.


--
-- Data for Name: at_trip_costs; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: at_trips; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: at_user_payments; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.at_user_payments (id, user_id, booking_id, payment_date, amount, payment_method, created, modified) FROM stdin;
\.


--
-- Data for Name: et_access_level; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.et_access_level (id, name, description, created, modified) FROM stdin;
1	none	\N	2024-11-24 23:23:04.959786	2024-11-24 23:23:04.959786
2	get	\N	2024-11-24 23:23:32.409579	2024-11-24 23:23:32.409579
3	put	\N	2024-11-24 23:23:32.409579	2024-11-24 23:23:32.409579
4	post	\N	2024-11-24 23:23:32.409579	2024-11-24 23:23:32.409579
5	delete	\N	2024-11-24 23:23:32.409579	2024-11-24 23:23:32.409579
\.


--
-- Data for Name: et_access_scope; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.et_access_scope (id, name, description, created, modified) FROM stdin;
2	own	\N	2024-11-24 23:15:13.207337	2026-03-05 10:30:04.85804
1	any	\N	2024-11-24 23:14:57.462385	2026-03-05 10:30:04.85804
\.


--
-- Data for Name: et_booking_status; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.et_booking_status (id, status, created, modified) FROM stdin;
1	New	2024-09-29 10:11:30.906822	2024-09-29 10:11:30.906822
2	Cancelled	2024-09-30 08:29:27.323855	2024-09-30 08:29:27.323855
3	Paid	2024-09-30 08:29:41.411134	2024-09-30 08:29:41.411134
4	Partially paid	2026-03-06 06:01:35.088127	2026-03-06 06:01:41.372249
\.


--
-- Data for Name: et_member_status; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.et_member_status (id, status, created, modified) FROM stdin;
1	Yes	2025-01-12 08:36:38.416883	2025-01-12 08:36:38.416883
2	No	2025-01-12 08:36:12.929545	2025-01-12 08:36:12.929545
\.


--
-- Data for Name: et_resource; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: et_seasons; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.et_seasons (id, season, created, modified, start_day, length) FROM stdin;
2	Winter	2024-10-26 05:28:39.461983	2024-10-26 05:28:39.461983	\N	\N
1	Summer	2024-10-26 05:28:32.741256	2024-10-26 05:28:32.741256	\N	\N
\.


--
-- Data for Name: et_trip_difficulty; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.et_trip_difficulty (id, level, created, modified, level_short, description) FROM stdin;
1	Medium to Fit	2024-10-26 06:03:17.094307	2024-10-26 06:03:17.094307	MF	Up to 8 hours per day, pace faster than M, off track and above bush line travel to be expected.
2	Easy	2024-10-26 06:03:53.30417	2024-10-26 06:03:53.30417	E	Up to 4 hours per day, pace slower than EM.
3	Slow medium	2024-10-28 06:35:23.182334	2024-10-28 06:35:23.182334	SM	Medium trip at a slower pace than the standard pace
\.


--
-- Data for Name: et_trip_status; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.et_trip_status (id, status, created, modified) FROM stdin;
1	New	2024-10-10 10:34:38.851101	2024-10-10 10:34:38.851101
2	Cancelled	2024-10-10 10:34:49.204346	2024-10-10 10:34:49.204346
3	Completed	2024-10-10 10:34:56.149138	2024-10-10 10:34:56.149138
\.


--
-- Data for Name: et_trip_type; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.et_trip_type (id, type, created, modified) FROM stdin;
1	Hiking	2024-10-26 05:39:39.691348	2024-10-26 05:39:39.691348
2	Skiing	2024-10-26 05:39:45.72734	2024-10-26 05:39:45.72734
3	Cycling	2024-10-26 05:39:52.463626	2024-10-26 05:39:52.463626
4	Camping	2024-10-26 05:40:03.152673	2024-10-26 05:40:03.152673
5	Rafting	2024-10-26 05:40:08.886972	2024-10-26 05:40:08.886972
6	Climbing	2024-10-26 05:40:15.566278	2024-10-26 05:40:15.566278
\.


--
-- Data for Name: et_user_account_status; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: et_user_age_groups; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.et_user_age_groups (id, age_group, created, modified) FROM stdin;
1	Infant	2024-10-26 07:08:21.941336	2024-10-26 07:08:21.941336
2	Adult	2024-10-26 07:08:36.386124	2024-10-26 07:08:36.386124
3	Child	2024-10-26 07:08:42.383391	2024-10-26 07:08:42.383391
4	Youth	2024-10-26 07:09:03.922737	2024-10-26 07:09:03.922737
\.


--
-- Data for Name: st_group; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.st_group (id, name, description, created, modified) FROM stdin;
1	Sys Admin	System admin	2024-11-24 23:31:26.62785	2026-02-27 09:48:24.645486
3	App Admin	Application admin	2024-12-05 23:46:11.129967	2026-02-27 09:48:24.645486
2	User	app users	2024-12-05 06:57:30.344557	2026-02-27 09:48:24.645486
5	Trusted User	Trusted User	2026-03-05 10:35:59.877022	2026-03-05 10:35:59.877022
\.


--
-- Data for Name: st_group_resource; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: st_token; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.st_token (id, user_id, name, host, token, valid_from, valid_to, created, modified, token_valid, session_data) FROM stdin;
620	16	oauth-state	\N	0V-Oo9Q_9OWO06YVfNX1f94rauvgn4Y3vKzoVTjE2N8	2026-03-21 04:11:51.199262+00	2026-03-21 04:21:51.199255+00	2026-03-21 04:11:51.212928	2026-03-21 04:11:59.072833	t	\N
621	16	session	localhost	FQ9Rk2GLNPywtwE1QelnyVejdGBsoyH5Vq6C5l2TQwk	2026-03-21 04:11:59.079615+00	2026-03-21 05:11:59.079616+00	2026-03-21 04:11:59.081085	2026-03-21 04:11:59.081085	t	\N
\.


--
-- Data for Name: st_user_credentials; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.st_user_credentials (id, user_id, credential_id, last_used, credential_data, device_name, device_metadata, created, modified) FROM stdin;
\.


--
-- Data for Name: st_user_group; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: st_users; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Name: at_booking_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.at_booking_users_id_seq', 31, true);


--
-- Name: at_booking_vouchers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.at_booking_vouchers_id_seq', 3, true);


--
-- Name: at_bookings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.at_bookings_id_seq', 38, true);


--
-- Name: at_group_bookings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.at_group_bookings_id_seq', 2, true);


--
-- Name: at_trip_cost_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.at_trip_cost_groups_id_seq', 2, true);


--
-- Name: at_trip_costs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.at_trip_costs_id_seq', 10, true);


--
-- Name: at_trips_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.at_trips_id_seq', 8, true);


--
-- Name: at_user_payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.at_user_payments_id_seq', 1, true);


--
-- Name: et_access_level_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_access_level_id_seq', 6, true);


--
-- Name: et_access_scope_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_access_scope_id_seq', 3, true);


--
-- Name: et_booking_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_booking_status_id_seq', 5, true);


--
-- Name: et_member_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_member_status_id_seq', 3, true);


--
-- Name: et_resource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_resource_id_seq', 34, true);


--
-- Name: et_seasons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_seasons_id_seq', 3, true);


--
-- Name: et_trip_difficulty_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_trip_difficulty_id_seq', 4, true);


--
-- Name: et_trip_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_trip_status_id_seq', 4, true);


--
-- Name: et_trip_types_trip_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_trip_types_trip_type_id_seq', 7, true);


--
-- Name: et_user_account_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_user_account_status_id_seq', 6, true);


--
-- Name: et_user_age_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.et_user_age_group_id_seq', 5, true);


--
-- Name: st_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.st_group_id_seq', 5, true);


--
-- Name: st_group_resource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.st_group_resource_id_seq', 180, true);


--
-- Name: st_token_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.st_token_id_seq', 621, true);


--
-- Name: st_user_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.st_user_group_id_seq', 20, true);


--
-- Name: st_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.st_users_id_seq', 76, true);


--
-- Name: at_booking_people at_booking_users_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_booking_people
    ADD CONSTRAINT at_booking_users_pkey PRIMARY KEY (id);


--
-- Name: at_booking_vouchers at_booking_vouchers_code_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_booking_vouchers
    ADD CONSTRAINT at_booking_vouchers_code_key UNIQUE (code);


--
-- Name: at_booking_vouchers at_booking_vouchers_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_booking_vouchers
    ADD CONSTRAINT at_booking_vouchers_pkey PRIMARY KEY (id);


--
-- Name: at_bookings at_bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_bookings
    ADD CONSTRAINT at_bookings_pkey PRIMARY KEY (id);


--
-- Name: at_group_bookings at_group_bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_group_bookings
    ADD CONSTRAINT at_group_bookings_pkey PRIMARY KEY (id);


--
-- Name: at_trip_cost_groups at_trip_cost_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_trip_cost_groups
    ADD CONSTRAINT at_trip_cost_groups_pkey PRIMARY KEY (id);


--
-- Name: at_trip_costs at_trip_costs_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_trip_costs
    ADD CONSTRAINT at_trip_costs_pkey PRIMARY KEY (id);


--
-- Name: at_trips at_trips_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_trips
    ADD CONSTRAINT at_trips_pkey PRIMARY KEY (id);


--
-- Name: at_user_payments at_user_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_user_payments
    ADD CONSTRAINT at_user_payments_pkey PRIMARY KEY (id);


--
-- Name: et_access_level et_access_level_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_access_level
    ADD CONSTRAINT et_access_level_pkey PRIMARY KEY (id);


--
-- Name: et_access_scope et_access_type_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_access_scope
    ADD CONSTRAINT et_access_type_pkey PRIMARY KEY (id);


--
-- Name: et_booking_status et_booking_status_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_booking_status
    ADD CONSTRAINT et_booking_status_pkey PRIMARY KEY (id);


--
-- Name: et_member_status et_member_status_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_member_status
    ADD CONSTRAINT et_member_status_pkey PRIMARY KEY (id);


--
-- Name: et_resource et_resource_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_resource
    ADD CONSTRAINT et_resource_pkey PRIMARY KEY (id);


--
-- Name: et_seasons et_seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_seasons
    ADD CONSTRAINT et_seasons_pkey PRIMARY KEY (id);


--
-- Name: et_trip_difficulty et_trip_difficulty_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_trip_difficulty
    ADD CONSTRAINT et_trip_difficulty_pkey PRIMARY KEY (id);


--
-- Name: et_trip_status et_trip_status_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_trip_status
    ADD CONSTRAINT et_trip_status_pkey PRIMARY KEY (id);


--
-- Name: et_trip_type et_trip_types_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_trip_type
    ADD CONSTRAINT et_trip_types_pkey PRIMARY KEY (id);


--
-- Name: et_user_account_status et_user_account_status_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_user_account_status
    ADD CONSTRAINT et_user_account_status_pkey PRIMARY KEY (id);


--
-- Name: et_user_age_groups et_user_age_group_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.et_user_age_groups
    ADD CONSTRAINT et_user_age_group_pkey PRIMARY KEY (id);


--
-- Name: st_group st_group_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.st_group
    ADD CONSTRAINT st_group_pkey PRIMARY KEY (id);


--
-- Name: st_group_resource st_group_resource_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.st_group_resource
    ADD CONSTRAINT st_group_resource_pkey PRIMARY KEY (id);


--
-- Name: st_token st_token_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.st_token
    ADD CONSTRAINT st_token_pkey PRIMARY KEY (id);


--
-- Name: st_user_group st_user_group_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.st_user_group
    ADD CONSTRAINT st_user_group_pkey PRIMARY KEY (id);


--
-- Name: st_users st_users_email_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.st_users
    ADD CONSTRAINT st_users_email_key UNIQUE (email);


--
-- Name: st_users st_users_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.st_users
    ADD CONSTRAINT st_users_pkey PRIMARY KEY (id);


--
-- Name: st_users st_users_username_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.st_users
    ADD CONSTRAINT st_users_username_key UNIQUE (username);


--
-- Name: at_booking_people set_modified_timestamp_at_booking_people; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_at_booking_people BEFORE UPDATE ON public.at_booking_people FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: at_bookings set_modified_timestamp_at_bookings; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_at_bookings BEFORE UPDATE ON public.at_bookings FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: at_group_bookings set_modified_timestamp_at_group_bookings; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_at_group_bookings BEFORE UPDATE ON public.at_group_bookings FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: at_trip_cost_groups set_modified_timestamp_at_trip_cost_groups; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_at_trip_cost_groups BEFORE UPDATE ON public.at_trip_cost_groups FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: at_trip_costs set_modified_timestamp_at_trip_costs; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_at_trip_costs BEFORE UPDATE ON public.at_trip_costs FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: at_trips set_modified_timestamp_at_trips; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_at_trips BEFORE UPDATE ON public.at_trips FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: at_user_payments set_modified_timestamp_at_user_payments; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_at_user_payments BEFORE UPDATE ON public.at_user_payments FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_access_level set_modified_timestamp_et_access_level; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_access_level BEFORE UPDATE ON public.et_access_level FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_access_scope set_modified_timestamp_et_access_type; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_access_type BEFORE UPDATE ON public.et_access_scope FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_booking_status set_modified_timestamp_et_booking_status; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_booking_status BEFORE UPDATE ON public.et_booking_status FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_member_status set_modified_timestamp_et_member_status; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_member_status BEFORE UPDATE ON public.et_member_status FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_resource set_modified_timestamp_et_resource; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_resource BEFORE UPDATE ON public.et_resource FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_seasons set_modified_timestamp_et_seasons; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_seasons BEFORE UPDATE ON public.et_seasons FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_trip_difficulty set_modified_timestamp_et_trip_difficulty; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_trip_difficulty BEFORE UPDATE ON public.et_trip_difficulty FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_trip_status set_modified_timestamp_et_trip_status; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_trip_status BEFORE UPDATE ON public.et_trip_status FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_trip_type set_modified_timestamp_et_trip_type; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_trip_type BEFORE UPDATE ON public.et_trip_type FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_user_account_status set_modified_timestamp_et_user_account_status; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_user_account_status BEFORE UPDATE ON public.et_user_account_status FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: et_user_age_groups set_modified_timestamp_et_user_age_groups; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_et_user_age_groups BEFORE UPDATE ON public.et_user_age_groups FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: st_group set_modified_timestamp_st_group; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_st_group BEFORE UPDATE ON public.st_group FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: st_group_resource set_modified_timestamp_st_group_resource; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_st_group_resource BEFORE UPDATE ON public.st_group_resource FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: st_token set_modified_timestamp_st_token; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_st_token BEFORE UPDATE ON public.st_token FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: st_user_group set_modified_timestamp_st_user_group; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_st_user_group BEFORE UPDATE ON public.st_user_group FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: st_users set_modified_timestamp_st_users; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER set_modified_timestamp_st_users BEFORE UPDATE ON public.st_users FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: at_booking_vouchers update_at_booking_vouchers_modified; Type: TRIGGER; Schema: public; Owner: myuser
--

CREATE TRIGGER update_at_booking_vouchers_modified BEFORE UPDATE ON public.at_booking_vouchers FOR EACH ROW EXECUTE FUNCTION public.update_modified_column();


--
-- Name: at_booking_people booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_booking_people
    ADD CONSTRAINT booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.at_bookings(id) NOT VALID;


--
-- Name: at_bookings bookings_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_bookings
    ADD CONSTRAINT bookings_status_id_fkey FOREIGN KEY (booking_status_id) REFERENCES public.et_booking_status(id) NOT VALID;


--
-- Name: at_booking_people user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.at_booking_people
    ADD CONSTRAINT user_id_fkey FOREIGN KEY (person_id) REFERENCES public.st_users(id) NOT VALID;


--
-- Name: TABLE at_booking_vouchers; Type: ACL; Schema: public; Owner: myuser
--

GRANT ALL ON TABLE public.at_booking_vouchers TO api_user;


--
-- PostgreSQL database dump complete
--

\unrestrict nzPGAtsRCSN0wCrQ7BpZPTs5YdnSeDPaEeb244x93DSsmgpjNHfhvzncSDkts47

