##version: '3.8'

services:
  dbserver:
    image: postgres:13
    container_name: dbserver
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db-server/init:/docker-entrypoint-initdb.d  # Mounting init scripts
    networks:
      - mynetwork

  adminer:
    image: adminer
    container_name: dbadminer
    environment:
      ADMINER_DEFAULT_SERVER: db
    ports:
      - "8082:8080"
    networks:
      - mynetwork

  #webserver:
  #  build:
  #    context: .
  #    dockerfile: Dockerfile.webbuild
  #  container_name: webserver
  #  ports:
  #    - "8081:8081"
  #  networks:
  #    - mynetwork

  apiserver:
    profiles: ["prod"]
    build:
      context: .                        # Updated context for API server
      dockerfile: Dockerfile.apibuild   # Dockerfile for the API server
      target: final                     # <-- normal build (production image)
    container_name: apiserver
    ports:
      - "8085:8085"
      - "8086:8086"
    networks:
      - mynetwork
    environment:
      - GO_ENV=production
##    - DATABASE_URL=postgres://user:password@postgres:5432/mydb
      - DATABASE_URL=dbserver://api_user:api_password@postgres:5432/mydatabase
    depends_on:
##      - postgres
      - dbserver
    volumes:
      - ./data/gmail-tokens:/etc/certs/gmail-tokens
      - ./data/gmail-credentials:/etc/certs/gmail-credentials:ro  # Optional: for credentials file
      #- gmail-tokens:/etc/certs/gmail-tokens
      # - gmail-credentials:/etc/certs/gmail-credentials:ro  # Optional: for credentials file


  apiserver-debug:
    profiles: ["debug"]
    build:
      context: .                        # Updated context for API server
      dockerfile: Dockerfile.apibuild   # Dockerfile for the API server
      target: debug                     # <-- debug stage from modified Dockerfile
    container_name: apiserver-debug
    ports:
      - "8085:8085"
      - "8086:8086"
      - "40000:40000"        # expose Delve debugger port
    networks:
      - mynetwork
    environment:
      - GO_ENV=debug
##    - DATABASE_URL=postgres://user:password@postgres:5432/mydb
      - DATABASE_URL=dbserver://api_user:api_password@postgres:5432/mydatabase
    security_opt:            # needed if Delve complains about ptrace
      - "seccomp:unconfined"
    cap_add:
      - SYS_PTRACE
    depends_on:
##      - postgres
      - dbserver
    volumes:
      - gmail-tokens:/etc/certs/gmail
      # - gmail-credentials:/etc/certs/gmail-credentials:ro  # Optional: for credentials file
      ##- ./api-server/app    # <-- mount local code to /app in container
      - D:/Users/Vince/Documents/GitHub/TM:/src

networks:
  mynetwork:
    driver: bridge

volumes:
  db_data:
  #gmail-tokens:
